<!DOCTYPE html>
<html>
    <head>
        
         <title>SJCE</title>
         <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
         <link rel="stylesheet" href="aboutus.css">
         <link rel="stylesheet" href="headfoot.css">
         <link rel="stylesheet" href="login.css">

    </head>
    <body>
        <header>
            <div style="display: flex; justify-content: space-between; align-items: center;">
              <img src="headfoot-Logo.png" alt="SJCE" style="height: 55px; width: 80px;">
              <h4>SJCE NO DUE PORTAL</h4>
              <div style="display: flex;">
                <a href="/">Home</a>
                <a href="aboutus">Our Team</a>
                <a href="contactus">Contact Us</a>
                <a href="login">Login/Register</a>
              </div>
            </div>
          </header>
        <h2 style="text-align:center">Our Team</h2>
        <div class="row">
            <div class="column">
                <div class="card">
                    <img src="" alt="Jane" >
                    <div class="container">
                        <h2>Prof S R Kavya</h2>
                        <p class="title">Guide</p>
                        <a href="#" class="fa fa-google"></a>
                            <a href="#" class="fa fa-linkedin"></a>
                            <a href="#" class="fa fa-instagram"></a><br><br>
                        </div>
                    </div>
                </div>
                 <div class="column">
                    <div class="card">
                        <img src="" alt="Srinidhi">
                        <div class="container">
                            <h2>Srinidhi Kashyap S</h2>
                            <p class="title">Backend Developer</p>
                            <a href="#" class="fa fa-google"></a>
                            <a href="#" class="fa fa-linkedin"></a>
                            <a href="#" class="fa fa-instagram"></a><br><br>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="card">
                            <img src="" alt="Niranjan">
                        <div class="container">
                            <h2>Niranjan G K</h2>
                            <p class="title">Frontend Developer</p>
                            <a href="#" class="fa fa-google"></a>
                            <a href="#" class="fa fa-linkedin"></a>
                            <a href="#" class="fa fa-instagram"></a><br><br>
                        </div>
                    </div>
                </div>
            </div>
            <footer>
                Copyright &copy; 2023
              </footer>
    </body>
</html>
