<!DOCTYPE html>
<html>
	<head>
		<title>GeeksFor Geeks Sweet alert</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.0/sweetalert.min.js">
		</script>
		<style>
			.p {
				background-color: rgb(255, 255, 255);
				width: 190px;
				margin: auto;
				text-align: center;
				font-size: 22px;
			}
		</style>
	</head>

	<body>
		<script>
			swal("REMEBER",
				"Uploading fake or forged documents is strictly prohibited and may result in serious consequences.",
				"warning", {
				dangerMode: true,
				buttons: false,
				closeOnClickOutside:true,
				timer: 5000,
			});
		</script>
	</body>
</html>
