<html>

  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="contactus.css">
    <link rel="stylesheet" href="headfoot.css">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
   </head>
<body>
  <header>
    <div style="display: flex; justify-content: space-between; align-items: center;">
      <img src="headfoot-Logo.png" alt="SJCE" style="height: 55px; width: 80px;">
      <div style="display: flex;">
        <a href="/">Home</a>
        <a href="aboutus">Our Team</a>
        <a href="contactus">Contact Us</a>
        <a href="login">Login/Register</a>
      </div>
    </div>
  </header>
  <div class="container">
    <div class="content">
      <div class="left-side">
        <div class="address details">
          <i class="fas fa-map-marker-alt"></i>
          <div class="topic">Address</div>
          <div class="text-one">Sri Jayachamarajendra College of Engineering</div>
          <div class="text-two">JSS TI Campus, Manasagangotri, Mysore -570006</div>
        </div>
        <div class="phone details">
          <i class="fas fa-phone-alt"></i>
          <div class="topic">Phone</div>
          <div class="text-one">00000000000</div>
          <div class="text-two">000000 00000</div>
        </div>
        <div class="email details">
          <i class="fas fa-envelope"></i>
          <div class="topic">Email</div>
          <div class="text-one">nodueportal@gmail.com</div>
        </div>
      </div>
      <div class="right-side">
        <div class="topic-text">Send us a message</div>
        <p>If you see face any problem from this page, you can send me message from here. It's my pleasure to help you.</p>
      <form action="#">
        <div class="input-box">
          <input type="text" placeholder="Enter your name">
        </div>
        <div class="input-box">
          <input type="text" placeholder="Enter your email">
        </div>
        <div class="input-box message-box">
          <textarea></textarea>
        </div>
        <div class="button">
          <input type="button" value="Send Now" >
        </div>
      </form>
    </div>
    </div>
  </div>
  <footer>
    Copyright &copy; 2023
  </footer>
</body>
</html>
