<!DOCTYPE html>
<html lang="en">
<head>
    <title>SJCE</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="reqtable.css">
    <link rel="stylesheet" href="headfoot.css">
</head>
<body>
  <header>
    <div style="display: flex; justify-content: space-between; align-items: center;">
        <img src="logo-login.jpeg" alt="Paris" style="height: 58px; width: 400px;">
        
    </div>
  </header>
    <table class="content-table">
        <thead>
          <tr>
            <th>Student Name</th>
            <th>USN no</th>
            <th>Branch</th>
            <th>Documents</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
              <button class="btn"><i class="fa-solid fa-file-circle-check"></i></button>
              <button class="btn"><i class="fa-solid fa-pen-to-square"></i></button>
            </td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
      <br>
        <div>
         <button onclick="window.history.back()">Back</button>
        </div>
      </body>
</html>
